<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ</title>
</head>
<body>
<div>
    Все пользователи:
    <br><hr>
    <div th:each="x, state : ${allUsers}">
        <b th:text="${x.getUsername()} + ', has id: ' + ${x.getId()}">Имя пользователя</b>
        <form th:method="DELETE" th:action="@{/admin/{id}(id=${x.getId()})}">
            <input type="submit" value="Удалить из базы"></form>
        <br><hr>
    </div>
</div>
<a href="/">Главная</a>
</body>
</html>